<form>
<label for="title">Title: </label>
<input type="text" name="post[title]" id="title"></input>
<label for="body">Body: </label>
<textarea name="post[body]" id="body"></textarea>
<button id="new-diary" >Write A New Journal For Your Beautiful Fabulous Day</button>
</form>
<a class="back" href="#/">Go Back To Your Other Beautiful Journal Entries</a>